global:
  resolve_timeout: 5m

templates:
  - '/etc/alertmanager/telegram.tmpl'

route:
  receiver: 'telegram'
  group_by: ['node_alert', 'postgres_alert']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h

receivers:
  - name: 'telegram'
    telegram_configs:
      - bot_token: 'TOKEN_SECRET'
        chat_id: ID_SECRET
        parse_mode: 'HTML'
        send_resolved: true
        message: '{{ template "telegram.message" . }}'
